<!DOCTYPE html>
<html>
<head><title>Home</title></head>
<body>
  <h1>Explore The Movies Database</h1>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
        {% for cat,msg in messages %}
          <li class="{{ cat }}">{{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <ul>
    <li><a href="{{ url_for('add_user') }}">Add User</a></li>
    <li><a href="{{ url_for('delete_user') }}">Delete User</a></li>
    <li><a href="{{ url_for('update_user') }}">Update User</a></li>
    <li><a href="{{ url_for('display_users') }}">Display Users</a></li>
    <li><a href="{{ url_for('movies') }}">Show 10 Movies</a></li>
    <li><a href="{{ url_for('recommend_movies') }}">Recommend Movies</a></li>
  </ul>
</body>
</html>
